@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
#intro-example {
  height: 300px;
  position: relative;
}
@media (min-width: 992px) {
  #intro-example {
    height: 500px;
  }
}
#intro-example:hover {
  cursor: pointer;
}
.home-cards {
  border: none;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.home-card {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 300px;
  min-width: 200px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.grid-square {
  font-size: 20px;
  font-weight: 700;
  background-color: #f1f1f1;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  height: 0;
  padding-bottom: 50%;
  position: relative;
}

nav li {
  list-style-type: none;
}

#shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#product-card {
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin: 15px;
  padding: 10px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
#product-card .product-info {
  align-self: flex-start;
}

#product-card img {
  height: 300px;
}

.product-info {
  font-family: "Poppins", sans-serif;
  color: #444444;
  display: flex;
  flex-direction: column;
  align-items: left;
}
.product-info h3 {
  font-size: 20px;
  padding-left: 3px;
  font-weight: 800;
  margin-bottom: 0;
  transition: transform 0.2s ease-in-out;
}
.product-info h4 {
  padding-left: 10px;
  font-size: 13px;
}

.product-info:hover {
  cursor: pointer;
}

.product-info:hover h3 {
  transform: scale(1.05);
}
.product-img {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.product-img img {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}

.product-img .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  color: #fff;
  font-size: 18px;

  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.quick-cart {
  margin-left: 15px;
  border: none;
  box-shadow: none;
  height: 35px;
  width: 35px;
  padding-bottom: 5px;
}
.quick-cart:hover .fa-shopping-cart {
  color: rgb(215, 64, 64);
}

.product-img:hover img {
  transform: scale(1.05);
}
.product-img:hover .overlay {
  opacity: 1;
  transform: translateY(0);
  cursor: pointer;
}
.filters {
  border: 1px solid #f1f1f1;
  margin: 15px 5% 0px 5%;
  border-radius: 4px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
.overlay i {
  padding-top: 15px;
  scale: 1.2;
}
.page-header {
  font-family: "Poppins", sans-serif;
  margin-left: 5%;
  margin-top: 15px;
}
.search-hover {
  border: 1px solid #ccc;
  outline: none;
  background-size: 22px;
  background-position: 13px;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  padding: 15px;
  transition: all 0.5s;
  margin-right: 10px;
}
.search-hover:hover {
  width: 300px;
  margin-left: -150px;
}
.search-hover:focus {
  width: 300px;
  margin-left: -150px;
}
@media (max-width: 992px) {
  .search-hover {
    display: none;
  }
  .dropdown-nav {
    margin: 0 0 10px -15px;
    font-size: 14px;
  }
}
@media (min-width: 991px) {
  .mobile-search {
    display: none;
  }
}
.mobile-search {
  border: 1px solid #ccc;
  outline: none;
  border-radius: 10px;
  padding-left: 10px;
  margin-left: -2px;
}
.dropdown-nav {
  font-size: 16px;
  margin-top: 3px;
}
.dropdown-nav:hover,
.dropdown-nav:focus {
  background-color: white;
}
#categories-label {
  font-family: "Poppins", sans-serif;
  letter-spacing: -2px;
  font-weight: 800;
  padding-top: 30px;
  padding-bottom: 30px;
}
